@font-face {
    font-family: 'My Noto Color Emoji';
    src: url(NotoColorEmoji.ttf);
}

#container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
}

.answer {
    font-size: 10em;
    font-family: "My Noto Color Emoji",
    apple color emoji,
    segoe ui emoji,
    noto color emoji,
    android emoji,
    emojisymbols,
    emojione mozilla,
    twemoji mozilla,
    segoe ui symbol,
    serif;
}

.answer > img {
    height: 1em;
}

#right-answer {
    float: right;
}

#terrain {
    border-top: 1px solid black;
    padding-top: 0.2em;
    margin-top: 0.2em;
    font-size: 5em;
}

#score {
    font-size: 0.5em;
}


#bravo-container {
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
}

#bravo {
    font-size: 5em;
}

#restart {
    margin-top: 2em;
    font-size: 3em;
}

#press-start {
    font-size: 5em;
}

#hello-container {
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
}

#hello {
    font-size: 5em;
}

.announcement {
    font-size: 4em;
}

#video-container {
    border-top: 1px solid black;
    padding-top: 0.5em;
    margin-top: 3em;
}

#instructions img {
    height: 2em;
}

#instructions {
    margin-top: 3em;
}

.level-selected {
    background-color: bisque;
}

.level-choice {
    font-size: 3em;
}

.level-choice:hover {
    background-color: aliceblue;
}

.level-choice:active {
    background-color: bisque;
}

