#container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
}

.answer {
    font-size: 10em;
}

#right-answer {
    float: right;
}

#terrain {
    border-top: 1px solid black;
    padding-top: 0.2em;
    margin-top: 0.2em;
    font-size: 5em;
}

#score {
    font-size: 0.5em;
}

#gamepad-container {
    border-top: 1px solid black;
    padding-top: 0.5em;
    margin-top: 3em;
}


#bravo-container {
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
}
#bravo {
    font-size: 5em;
}
#restart {
    margin-top: 2em;
    font-size: 3em;
}

#press-start {
    font-size: 5em;
}